@font-face {
  font-family: 'GlacialIndifference'; /*a name to be used later*/
  src: url('./glacial-indifference/GlacialIndifference-Regular.otf'); /*URL to font*/
}
@font-face {
  font-family: 'Raleway'; /*a name to be used later*/
  src: url('./raleway/Raleway-Regular.ttf'); /*URL to font*/
}
@font-face {
  font-family: 'OpenSans'; /*a name to be used later*/
  src: url('./open-sans/OpenSans-Regular.ttf'); /*URL to font*/
}
body {
  min-height: 100%;
  background-color: #27313d;
  background-repeat: no-repeat;
  background-size: 600px;
  background-position: 50% 100px;
  font-family: 'OpenSans', sans-serif;
  background: white;
}
.titlebar {
  position: page;
  top: 0;
  left: 0;
  width: 100%;
  /* background: whitesmoke; */
  background: white;
  padding: 0.25em;
  /* height: 3.5em; */
  padding-top: 1.00em;
  padding-bottom: 0.75em;
}
.titlebar_content {
  line-height: 1.5;
  margin-left: auto;
  margin-right: auto;
  width: 97%;
  text-align: center;
}
.titlebar_content div {
  display: inline;
  margin-left: 0.6em;
  margin-right: 0.6em;
}
.titlebar span, .titlebar a {
  font-weight: bold;
  color: black;
  font-family: 'OpenSans', sans-serif;
  margin-left: 0.15em;
  margin-right: 0.15em;
}
#menu span, #menu a {
  margin-left: 0.6em;
  margin-right: 0.6em;
}
a.titlebar_link {
  color: #7f7fff;
  text-decoration: none;
  font-weight: normal;
}
a:hover.titlebar_link{
  text-decoration: underline;
  text-decoration-color: blue;
}
.titlebar_link_selected {
  color: black;
  text-decoration: underline;
  text-decoration-color: black;
}
.transition{
  position: page;
  width: 100%;
  margin: 0;
  padding: 0.5px;
  /*
  border-top: 1px solid rgb(218,218,218);
  background: rgb(180,180,180);
  border-bottom: 1px solid rgb(142,142,142);
  */
  border-bottom: 1px solid #e4e4e4;
}
#page {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  width: 97%;
}
@media screen and (min-width: 1111px) { /* 1300 * 0.97 */
  #page {
    width: 1078px;
  }
  .titlebar_content {
    width: 1078px
  }
}
@media screen and (max-width: 900px) {
  .titlebar {
    padding-top: 0.75em;
    padding-bottom: 0.5em;
  }
}
@media screen and (max-width: 700px) {
  .titlebar span {
  }
  #page {
    width: 100%
  }
  .titlebar_content div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 400px) {
  .titlebar span {
    font-size: 1em;
  }
  #page {
    width: 100%
  }
  .titlebar_content {
    width: 100%
  }
  #menu {
    text-align: center;
    display: block;
  }
}
.page_title_center {
  text-align: center;
}
#location {
  margin-top: 0.5em;
  margin-bottom: 0.25em;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  font-size: 1.5em;
  font-weight: bold;
  color: gray;
}
.location_divider {
  font-size: 1.5em;
  font-weight: bold;
  color: gray;
}
#page_name {
  margin-top: 0.5em;
  margin-bottom: 0.25em;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  font-size: 1.5em;
  font-weight: bold;
  color: steelblue;
}
#page {
  margin-top: 1em;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0.25em;
  margin-bottom: 0.5em;
  font-weight: bold;
}
h1 {
  color: #BDEDFF;
  color: black;
  text-align: center;
}
h1 a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  color: #BDEDFF;
  color: #6a8bad;
  color: black;
}
.level_1 > p {
  text-align: center;
  color: #BDEDFF;
  color: #6a8bad;
  color: black;
}
p {
  padding: 0.25em;
  margin: 0.5em;
}
.link {
  color: #0018bb;
}
.section {
  margin-top: 1em;
  margin-left: 0.5em;
  overflow:auto;
}
.level_2 {
  margin: 0.5em;
  margin-bottom: 1em;
  padding: 0.5em;
  padding-bottom: 2em;
  border: 2px solid #e4e4e4;
  background-color: white;
  border-radius: 0.4em;
}
ul, ol {
  padding-left: 1em;
  margin-left: 0em;
  line-height: 1.5;
}
ul li {
  list-style: none;
  list-style-position: outside;
  list-style-position: inside;
  text-indent: -0.7em;
}
ul li:before {
  content: "- ";
  color: #FFB682;
  color: darkgrey;
}
ul li span{
  color: black;
}
li {
  margin-top: 0.2em;
}
img {
  margin: 0.5em
}
.image_float{
  margin: 0.5em;
  border: 2px solid white
}
.image_float_right {
  display: block;
  float: right;
  margin: 0.5em;
  border: 2px solid white
}
.image_center{
  display: block;
  margin: auto;
}
.image_card{
  display: block;
  margin: auto;
  border: 2px solid #e4e4e4;
  background-color: white;
  border-radius: 0.4em;
}
.image_full_width {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}
.level_2 img {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}
.image_icon {
  margin: 0;
  -webkit-transform: translateY(28%);
  -ms-transform: translateY(28%);
  transform: translateY(28%);
}
.free_link {
  color: darkblue;
}
a[href^="http://"]:after,
a[href^="https://"]:after {
  content: url(/assets/Icon_External_Link.png);
  margin: 0 0 0 2px;
}
.footer {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
